<!--view-source:http://x3dom.org/x3dom/example/x3dom_x3dElementCSSIntegration.html -->


<div id="main">
  <div id="title" *ngIf="!zoomed">
    <h4>{{specimen.id}}</h4>
    {{specimen.location}}<br>
    {{specimen.description}}<br>
    {{sectionData && sectionData.model.crv_name }}
  </div>


  <!--x3d  id="specimen" height="100%" width = "100%" showProgress='false' showStat='false' showLog='false' -->
  <x3d id="model" height="70%" width="70%" [style.height.percent]="modelHeight"
       [style.width.percent]="modelWidth" showProgress='false' showStat='false' showLog='false'>

    <ul id="tools">
      <li>
        <button id="zoom-button" (click)="toggleZoom()">Zoom</button>
      </li>
    </ul>

    <scene pickMode="texCoord">
      <Viewpoint position="24.58412 2.30883 0.28578"
                 orientation="-0.61420 0.54921 -0.56668 2.04426"
                 zNear="0" zFar="100" description=""></Viewpoint>

      <Transform translation="-4 -6 -8">

        <Group *ngFor="let x3d of specimen.x3dModels">
          <Inline [attr.nameSpaceName]='x3d.name' mapDEFToID="true"
                  [attr.url]='specimen.path+x3d.name+".x3d"'></Inline>
        </Group>

        <shape>
          <IndexedLineSet [attr.coordIndex]='coordIndex'>
            <Coordinate [attr.point]='coordPoints'></Coordinate>
          </IndexedLineSet>

        </shape>

      </Transform>

    </scene>
  </x3d>

  <div *ngIf="!zoomed">
    <div class="row" *ngFor="let x3d of specimen.x3dModels">
      <div class="col-sm-1">
        <div *ngIf="x3d.transparency===1">
          <i (click)="changeTransperancy(x3d, x3d.prevTransperancy);" class="fa fa-eye-slash fa-lg"
             aria-hidden="false"></i>
        </div>

        <div *ngIf="x3d.transparency < 1">
          <i (click)="changeTransperancy(x3d, 1);"
             class="fa fa-eye fa-lg"
             [style.color]="x3d.color"
             aria-hidden="false"></i>
        </div>
      </div>

      <div class="col-sm-9">
        {{x3d.description}}
      </div>

    </div>
    <div>
      <button (click)="reload()">Reload</button>
      <button (click)="gotoAnatomy()">Back</button>
      <button (click)="getIndexedLineSet(currentSection)">Gen. Outline</button>
    </div>
  </div>
</div>
